@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif; /* teste fonte, voltar arial */
    background-color: #fff;
    margin: 0;
}

.header {
    background-color: #333;
    padding: 15px 30px;
    color: white;
    font-family: 'Bangers', cursive; /* teste fonte, apagar*/
    letter-spacing: 1px; /* afasta um pouquinho as letras */
    text-shadow: 0 1px 2px rgba(0,0,0,0.1); /* dá uma suavizada no peso visual */
    font-weight: normal;
    letter-spacing: 1px; /* afasta um pouquinho as letras */
    text-shadow: 0 1px 2px rgba(0,0,0,0.1); /* dá uma suavizada no peso visual */
    font-weight: normal;
}

.icon {
    vertical-align: middle;
    margin-top: -2px;
}

section.next-content {
    background-color: #1a1a1a;
}

.hero-banner {
    position: relative;
    background-image: url("banner-rickmorty.png"); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: inset 0 -150px 200px rgba(0, 0, 0, 0.6); /* sombra escurecendo embaixo */
    border-bottom: 5px solid #1a1a1a;
  }
  
  .hero-figure {
    color: white;
    position: absolute;
    top: 15%; /* mais pra cima */
    right: 5%; /* mais pro canto direito */
    background: rgba(0, 0, 0, 0.5); /* leve transparência pra destacar o texto */
    padding: 25px;
    border-radius: 16px;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .hero-figure h1 {
    font-family: 'Bangers', cursive;
    font-size: 2.5rem;
    margin: 0;
    text-shadow: 2px 2px 5px #000;
    letter-spacing: 1px; /* afasta um pouquinho as letras */
    text-shadow: 0 1px 2px rgba(0,0,0,0.1); /* dá uma suavizada no peso visual */
    font-weight: normal;
  }
  
  .hero-figure p {
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    margin-top: 10px;
    text-shadow: 1px 1px 3px #000;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 5px 20px;
    color: white;
}

.navbar .icon {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.navbar .menu {
    display: flex;
    gap: 15px;
}

.navbar a {
    background-color: #2e2e2e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif; /* teste fonte */
  }
  
  .navbar a:hover {
    background-color: #249c88; 
    color: #000;
    transform: scale(1.05);
    box-shadow: 0 0 10px #249c88;
  }
  
  .navbar a:active {
    transform: scale(0.95);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  

.content{
    margin: 45px 200px;
    align-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 30px ;
    text-align: center;
}

.cadastro{
    margin: 45px 200px;
    align-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 30px ;
    text-align: left;
}

.botao {
    background-color: #2e2e2e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif; /* teste fonte */
  }
  
  .botao:hover {
    background-color: #289782;
    color: #000;
    transform: scale(1.05);
    box-shadow: 0 0 10px #289782;
  }
  
  .botao:active {
    transform: scale(0.95);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  }  

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    gap: 20px; /* Espaço entre os cards */
    margin: 50px 100px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    margin: auto;
    font-family: 'Poppins', sans-serif; /* teste fonte */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-extended {
    display: flex;
    width: 40%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif; /* teste fonte */
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    font-family: 'Bangers', cursive;
    letter-spacing: 1px; /* afasta um pouquinho as letras */
    text-shadow: 0 1px 2px rgba(0,0,0,0.1); /* dá uma suavizada no peso visual */
    font-weight: normal;
}

.card p {
    color: #555;
    font-size: 0.9em;
}

.element-center{
    display: flex;
    justify-content: center;
    margin: 3% 0;
}

#sarchNameInput{
    width: 100%; /* Largura total do contêiner */
    max-width: 300px; /* Largura máxima */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda cinza clara */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho do texto */
    outline: none; /* Remove o contorno padrão ao focar */
    font-family: 'Poppins', sans-serif; /* teste fonte */
}

.btn {
    align-self: center;
    background-color: #007BFF; /* Azul claro */
    color: white; /* Texto branco */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho do texto */
    font-family: 'Poppins', sans-serif; /* teste fonte */
}

footer {
    padding: 20px 20px ;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: 'Poppins', sans-serif; /* teste fonte */
}

footer a {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

.form {
    margin: 5% 5%  ;
    text-align: center;
}